body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin:10px;
}
button{
    padding: 10px 0;
    width:100px;
    display: block;
    margin:10px;
}
.container{
    display:flex;
    flex-direction: column;
    border: 1px solid;
}
.flexdiv{
    flex:1;
    display: flex;
    justify-content: center;
}
.pixel{
    /* border: 1px solid; */
    width:10px;
    height:10px;
}