*{
    font-family:  Arial;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}
.box{
    margin:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.outer-container{
    padding:20px;
    flex: 1;
    display: flex;
    justify-content: center;
}
.container{
    display:flex;
    flex-direction: column;
    border: 1px solid;
    height:400px;
    min-width: 400px;
    max-width: 400px;
}
.enabled{
    background-color: rgb(62,62,62);
    color: rgb(220,220,220);
}
button{
    font-weight: 900;
    padding: 10px 20px ;
    width:150px;
    display: block;
    margin:7px 0 0;
}
.border{
    width:100px;
    margin:7px 0;
    border-bottom: 1px solid;
}
input{
    width: 50px;
    height: 50px;
}
.flexdiv{
    flex:1;
    display: flex;
    justify-content: center;
}
.pixel{
    flex:1;
    user-select: none;
}
.infobox{
    border: 2px solid;
    padding:5px;
    margin:10px 0;
}